<?xml version="1.0" encoding="utf-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/main.jsp</welcome-file>
    </welcome-file-list>

    <resource-ref>
        <description>Prod DB Connection Pool</description>
        <res-ref-name>jdbc/ProdDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <servlet>
        <servlet-name>Log4JInitServlet</servlet-name>
        <servlet-class>servlets.Log4JInitServlet</servlet-class>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>WEB-INF/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>servlets.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyTestsController</servlet-name>
        <servlet-class>servlets.testsCreator.MyTestsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTest</servlet-name>
        <servlet-class>servlets.testsCreator.NewTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>servlets.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>servlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>servlets.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>servlets.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addQuestion</servlet-name>
        <servlet-class>servlets.testsCreator.addQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTests</servlet-name>
        <servlet-class>servlets.testsEditor.editTests</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>NewQuestion</servlet-name>
    <servlet-class>servlets.testsCreator.NewQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewQuestion</servlet-name>
        <servlet-class>servlets.testsEditor.addQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewQuestion</servlet-name>
        <url-pattern>/testsEditor/addQuestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTest</servlet-name>
        <servlet-class>servlets.testsEditor.DeleteTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTest</servlet-name>
        <url-pattern>/testsEditor/DeleteTest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestChecking</servlet-name>
        <servlet-class>servlets.passTests.TestChecking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestChecking</servlet-name>
        <url-pattern>/passTests/TestChecking</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewEditQuestion</servlet-name>
        <servlet-class>servlets.testsEditor.NewEditQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewEditQuestion</servlet-name>
        <url-pattern>/testsEditor/NewEditQuestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editQuestion</servlet-name>
        <servlet-class>servlets.testsEditor.editQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editQuestion</servlet-name>
        <url-pattern>/testsEditor/editQuestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteQuestion</servlet-name>
        <servlet-class>servlets.testsEditor.DeleteQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteQuestion</servlet-name>
        <url-pattern>/testsEditor/DeleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewAddQuestion</servlet-name>
        <servlet-class>servlets.testsEditor.NewQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewAddQuestion</servlet-name>
        <url-pattern>/testsEditor/NewQuestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditTestController</servlet-name>
        <servlet-class>servlets.testsEditor.EditTestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditTestController</servlet-name>
        <url-pattern>/testsEditor/EditTestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTests</servlet-name>
        <url-pattern>/testsEditor/editTests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewQuestion</servlet-name>
        <url-pattern>/testsCreator/NewQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addQuestion</servlet-name>
        <url-pattern>/testsCreator/addQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/Dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyTestsController</servlet-name>
        <url-pattern>/testsCreator/MyTestsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTest</servlet-name>
        <url-pattern>/testsCreator/NewTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <listener>
        <listener-class>listeners.connectionClose</listener-class>
    </listener>

    <filter>
        <filter-name>TestsAccessFilter</filter-name>
        <filter-class>filters.TestsAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TestsAccessFilter</filter-name>
        <url-pattern>/Test</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SystemAccessFilter</filter-name>
        <filter-class>filters.SystemAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SystemAccessFilter</filter-name>
        <url-pattern>/Test</url-pattern>
        <url-pattern>/passTests/*</url-pattern>
        <url-pattern>/student/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CreatorTestsFilter</filter-name>
        <filter-class>filters.CreatorTestsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CreatorTestsFilter</filter-name>
        <url-pattern>/testCreator/*</url-pattern>
        <url-pattern>/testEditor/*</url-pattern>
        <url-pattern>/testsCreator/*</url-pattern>
        <url-pattern>/testsEditor/*</url-pattern>
    </filter-mapping>
</web-app>

